@section Styles {
	<link rel="stylesheet" href="~/assets/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
}
	<div class="page-wrapper">

		<header class="header home">
			@await Component.InvokeAsync("Header")

			<div class="header-bottom d-none d-lg-block bg-gray">
				<div class="container">
					<div class="header-center">
						<nav class="main-nav w-100">
							@await Component.InvokeAsync("MainMenu")	
						</nav>
					</div>
				</div>
				<!-- End .container -->
			</div>
			<!-- End .header-bottom -->
		</header>

		<main class="main">
			<div class="container">
				<ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
					<li class="active">
						<a href="#">Giỏ hàng</a>
					</li>
					<li>
						<a href="#">Thanh toán</a>
					</li>
					<li class="disabled">
						<a href="#">Hoàn tất đơn hàng</a>
					</li>
				</ul>

				<div class="row">
					<div class="col-lg-8">
						<div class="cart-table-container">
							<table class="table table-cart">
								<thead>
									<tr>
										<th class="thumbnail-col"></th>
										<th class="product-col">Sản Phẩm</th>
										<th class="price-col">Giá</th>
										<th class="qty-col">Số Lượng</th>
										<th class="text-right">Tổng Tiền</th>
									</tr>
								</thead>
								<tbody id="cart-items-container">
									
								</tbody>

								<tfoot>
									<tr>
										<td colspan="5" class="clearfix">
											<div class="float-right">
												<button type="submit" class="btn btn-shop btn-update-cart">
													Cập nhật giỏ hàng
												</button>
											</div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div><!-- Kết thúc .cart-table-container -->
					</div><!-- Kết thúc .col-lg-8 -->


					<div class="col-lg-4">
						<div class="cart-summary">
							<h3>TỔNG GIỎ HÀNG</h3>

							<table class="table table-totals">
								<tfoot>
									<tr>
										<td>Tạm tính</td>
										<td class="cart-total-price price-temp">$17.90</td>
									</tr>
								</tfoot>
							</table>

							<div class="checkout-methods">
								<a href="@Url.Action("Index", "CheckOut")" class="btn btn-block btn-dark">
									Tiến hành thanh toán
									<i class="fa fa-arrow-right"></i>
								</a>
							</div>
						</div><!-- Kết thúc .cart-summary -->
					</div><!-- Kết thúc .col-lg-4 -->

				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->

		<footer class="footer bg-dark position-relative">
			@await Html.PartialAsync("_Footer")
		</footer>
	</div><!-- End .page-wrapper -->

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		@await Component.InvokeAsync("Menu")
	</div>

	<div class="sticky-navbar">
		<div class="sticky-info">
			<a href="#">
				<i class="icon-home"></i>Trang Chủ
			</a>
		</div>
		<div class="sticky-info">
			<a href="#" class="">
				<i class="icon-bars"></i>Categories
			</a>
		</div>
		<div class="sticky-info">
			<a href="#" class="">
				<i class="icon-wishlist-2"></i>Wishlist
			</a>
		</div>
		<div class="sticky-info">
			<a href="https://www.portotheme.com/html/porto_ecommerce/my-account.html" class="">
				<i class="icon-user-2"></i>Account
			</a>
		</div>
		<div class="sticky-info">
			<a href="#" class="">
				<i class="icon-shopping-cart position-relative">
					<span class="cart-count badge-circle">3</span>
				</i>Cart
			</a>
		</div>
	</div>

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="~/assets/js/main.min.js"></script>
	<script src="~/assets/js/cart.js"></script>