		<!-- Theme Color (Light/Dark) -->
<div class="topbar-item">
	<button type="button" class="topbar-button" id="light-dark-mode">
		<iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
	</button>
</div>

<!-- Theme Setting -->
<div class="topbar-item d-none d-md-flex">
	<button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
		<iconify-icon icon="solar:settings-bold-duotone" class="fs-24 align-middle"></iconify-icon>
	</button>
</div>

<!-- Activity -->
<div class="topbar-item d-none d-md-flex">
	<button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas" data-bs-target="#theme-activity-offcanvas" aria-controls="theme-settings-offcanvas">
		<iconify-icon icon="solar:clock-circle-bold-duotone" class="fs-24 align-middle"></iconify-icon>
	</button>
</div>

<!-- User -->
<div class="dropdown topbar-item">
	<a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="d-flex align-items-center">
			<img class="rounded-circle" width="32" src="~/images/users/avatar-1.jpg" alt="avatar-3">
		</span>
	</a>
	<div class="dropdown-menu dropdown-menu-end">
		<!-- item-->
		<h6 class="dropdown-header">Chào Admin!</h6>

		<div class="dropdown-divider my-1"></div>

		<a class="dropdown-item text-danger" href="auth-signin.html">
			@if(User.Identity.IsAuthenticated){
				<a href="@Url.Action("Logout", "Auth", new { area = "User" })" class="align-middle">
					<i class="bx bx-log-out fs-18 align-middle me-1"></i>
					<span class="align-middle">Logout</span>
				</a>
			}
			<i class="bx bx-log-out fs-18 align-middle me-1"></i><span class="align-middle">Đăng Xuất</span>
		</a>
	</div>
</div>
