<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_Head")
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>

<body>
    <div class="page-wrapper">

        <header class="header home">
            @await Component.InvokeAsync("Header")

            <div class="header-bottom d-none d-lg-block bg-gray">
                <div class="container">
                    <div class="header-center">
                        <nav class="main-nav w-100">
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="demo1-shop.html">Categories</a>
                                    <div class="megamenu megamenu-fixed-width megamenu-3cols">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">VARIATION 1</a>
                                                <ul class="submenu">
                                                    <li><a href="category.html">Fullwidth Banner</a></li>
                                                    <li>
                                                        <a href="category-banner-boxed-slider.html">
                                                            Boxed Slider
                                                            Banner
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="category-banner-boxed-image.html">
                                                            Boxed Image
                                                            Banner
                                                        </a>
                                                    </li>
                                                    <li><a href="category.html">Left Sidebar</a></li>
                                                    <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
                                                    <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
                                                    <li>
                                                        <a href="category-horizontal-filter1.html">
                                                            Horizontal
                                                            Filter1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="category-horizontal-filter2.html">
                                                            Horizontal
                                                            Filter2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">VARIATION 2</a>
                                                <ul class="submenu">
                                                    <li><a href="category-list.html">List Types</a></li>
                                                    <li>
                                                        <a href="category-infinite-scroll.html">Ajax Infinite Scroll</a>
                                                    </li>
                                                    <li><a href="category.html">3 Columns Products</a></li>
                                                    <li><a href="category-4col.html">4 Columns Products</a></li>
                                                    <li><a href="category-5col.html">5 Columns Products</a></li>
                                                    <li><a href="category-6col.html">6 Columns Products</a></li>
                                                    <li><a href="category-7col.html">7 Columns Products</a></li>
                                                    <li><a href="category-8col.html">8 Columns Products</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 p-0">
                                                <div class="menu-banner">
                                                    <figure>
                                                        <img src="~/assets/images/menu-banner.jpg" alt="Menu banner" width="300" height="300">
                                                    </figure>
                                                    <div class="banner-content">
                                                        <h4>
                                                            <span class="">UP TO</span><br />
                                                            <b class="">50%</b>
                                                            <i>OFF</i>
                                                        </h4>
                                                        <a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End .megamenu -->
                                </li>
                                <li class="active">
                                    <a href="demo1-product.html">Products</a>
                                    <div class="megamenu megamenu-fixed-width">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">PRODUCT PAGES</a>
                                                <ul class="submenu">
                                                    <li><a href="product.html">SIMPLE PRODUCT</a></li>
                                                    <li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
                                                    <li><a href="product.html">SALE PRODUCT</a></li>
                                                    <li><a href="product.html">FEATURED & ON SALE</a></li>
                                                    <li><a href="product-custom-tab.html">WITH CUSTOM TAB</a></li>
                                                    <li><a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a></li>
                                                    <li><a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a></li>
                                                    <li><a href="product-addcart-sticky.html">ADD CART STICKY</a></li>
                                                </ul>
                                            </div>
                                            <!-- End .col-lg-4 -->

                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">PRODUCT LAYOUTS</a>
                                                <ul class="submenu">
                                                    <li><a href="product-extended-layout.html">EXTENDED LAYOUT</a></li>
                                                    <li><a href="product-grid-layout.html">GRID IMAGE</a></li>
                                                    <li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
                                                    <li><a href="product-sticky-info.html">STICKY INFO</a></li>
                                                    <li><a href="product-sticky-both.html">LEFT & RIGHT STICKY</a></li>
                                                    <li>
                                                        <a href="product-transparent-image.html">TRANSPARENT IMAGE</a>
                                                    </li>
                                                    <li><a href="product-center-vertical.html">CENTER VERTICAL</a></li>
                                                    <li><a href="#">BUILD YOUR OWN</a></li>
                                                </ul>
                                            </div>
                                            <!-- End .col-lg-4 -->

                                            <div class="col-lg-4 p-0">
                                                <div class="menu-banner menu-banner-2">
                                                    <figure>
                                                        <img src="~/assets/images/menu-banner-1.jpg" alt="Menu banner" class="product-promo" width="380" height="790">
                                                    </figure>
                                                    <i>OFF</i>
                                                    <div class="banner-content">
                                                        <h4>
                                                            <span class="">UP TO</span><br />
                                                            <b class="">50%</b>
                                                        </h4>
                                                    </div>
                                                    <a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
                                                </div>
                                            </div>
                                            <!-- End .col-lg-4 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .megamenu -->
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="dashboard.html">Dashboard</a></li>
                                        <li><a href="demo1-about.html">About Us</a></li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="demo1-contact.html">Contact Us</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="forgot-password.html">Forgot Password</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a href="#">Elements</a>
                                    <ul class="custom-scrollbar">
                                        <li><a href="element-accordions.html">Accordion</a></li>
                                        <li><a href="element-alerts.html">Alerts</a></li>
                                        <li><a href="element-animations.html">Animations</a></li>
                                        <li><a href="element-banners.html">Banners</a></li>
                                        <li><a href="element-buttons.html">Buttons</a></li>
                                        <li><a href="element-call-to-action.html">Call to Action</a></li>
                                        <li><a href="element-countdown.html">Count Down</a></li>
                                        <li><a href="element-counters.html">Counters</a></li>
                                        <li><a href="element-headings.html">Headings</a></li>
                                        <li><a href="element-icons.html">Icons</a></li>
                                        <li><a href="element-info-box.html">Info box</a></li>
                                        <li><a href="element-posts.html">Posts</a></li>
                                        <li><a href="element-products.html">Products</a></li>
                                        <li><a href="element-product-categories.html">Product Categories</a></li>
                                        <li><a href="element-tabs.html">Tabs</a></li>
                                        <li><a href="element-testimonial.html">Testimonials</a></li>
                                    </ul>
                                </li>
                                <li><a href="demo1-contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header>
        <!-- End .header -->

        <main class="main main-test">
            <div class="container checkout-container">
                <ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
                    <li>
                        <a href="@Url.Action("Index", "Cart")">Giỏ hàng</a>
                    </li>
                    <li class="active">
                        <a href="#">Thanh toán</a>
                    </li>
                    <li class="disabled">
                        <a href="#">Hoàn tất đơn hàng</a>
                    </li>
                </ul>

                <div class="checkout-discount">
                    <h4>
                        Có mã giảm giá?
                        <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link btn-toggle">NHẬP MÃ</button>
                    </h4>

                    <div id="collapseTwo" class="collapse">
                        <div class="feature-box">
                            <div class="feature-box-content">
                                <p>Nếu bạn có mã giảm giá, vui lòng nhập vào bên dưới.</p>

                                <form id="promotion-form">
                                    <div class="input-group">
                                        <input type="text" id="promotion-code-input" class="form-control form-control-sm w-auto" placeholder="Mã giảm giá"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-sm mt-0" type="submit">
                                                Áp dụng
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <p id="promotion-error" class="text-danger" style="display:none;"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <ul class="checkout-steps">
                            <li>
                                <h2 class="step-title">Thông tin thanh toán</h2>

                                <form action="#" id="checkout-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Họ
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input type="text" class="form-control" name="LastName" required />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Tên
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input type="text" class="form-control" name="FirstName" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-1 pb-2">
                                        <label>
                                            Địa chỉ đường
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <input type="text" class="form-control" placeholder="Số nhà và tên đường" name="Address" required />
                                    </div> 

                                    <div class="form-group">
                                        <label>Số điện thoại <abbr class="required" title="required">*</abbr></label>
                                        <input type="tel" class="form-control" name="PhoneNumber" required />
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-5">
                        <div class="order-summary">
                            <h3>ĐƠN HÀNG CỦA BẠN</h3>

                            <table class="table table-mini-cart">
                                <thead>
                                    <tr>
                                        <th colspan="2">Sản phẩm</th>
                                    </tr>
                                </thead>
                                <tbody id="checkout-cart-items">
                                    <!-- Sản phẩm được chèn bằng JS -->
                                </tbody>
                                <tfoot>
                                    <tr class="subtotal-row">
                                        <td><h4>Tạm tính</h4></td>
                                        <td class="price-col"><span id="checkout-subtotal">0 ₫</span></td>
                                    </tr>

                                    <tr class="promotion-discount">
                                        <td><h4>Giảm giá</h4></td>
                                        <td class="price-col text-danger"><span id="promotion-discount">-0 ₫</span></td>
                                    </tr>

                                    <tr class="order-total">
                                        <td><h4>Tổng cộng</h4></td>
                                        <td><b class="total-price"><span id="checkout-total">0 ₫</span></b></td>
                                    </tr>

                                </tfoot>
                            </table>

                            <div class="payment-methods">
                                <h4>Phương thức thanh toán</h4>

                                <div class="mb-2">
                                    <label class="d-flex align-items-center" for="payment-vnpay">
                                        <img src="~/assets/images/payments/vnpay.png" alt="VNPAY" style="height: 30px; margin-right: 8px;">
                                        Thanh toán qua VNPAY
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark btn-place-order" form="checkout-form">
                                Đặt hàng
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->

        <footer class="footer bg-dark position-relative">
            @await Html.PartialAsync("_Footer")
        </footer>
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        @await Component.InvokeAsync("Menu")
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a href="#">
                <i class="icon-home"></i>Trang Chủ
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-wishlist-2"></i>Wishlist
            </a>
        </div>
        <div class="sticky-info">
            <a href="https://www.portotheme.com/html/porto_ecommerce/my-account.html" class="">
                <i class="icon-user-2"></i>Account
            </a>
        </div>
        <div class="sticky-info">
            <a href="#" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Cart
            </a>
        </div>
    </div>

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="~/assets/js/cart.js"></script>
    <script>
        let promotionValue = 0; // % giảm
        let promotionText = '';

        $('#promotion-form').on('submit', function (e) {
            e.preventDefault();
            const code = $('#promotion-code-input').val().trim();
            if (code === promotionText) return;
            $.ajax({
                url: `/User/Promotion/validate?code=${code}`,
                method: 'GET',
                success: function (res) {
                    if (res.isValid) {
                        promotionValue = res.value; // Giảm theo phần trăm
                        promotionText = code;
                        $('#promotion-error').hide();
                        loadCheckoutSummary();
                    } else {
                        promotionValue = 0;
                        $('#promotion-error').text("Mã không hợp lệ hoặc đã hết hạn").show();
                        loadCheckoutSummary(); // Xóa giảm giá
                    }
                },
                error: function () {
                    $('#promotion-error').text("Không thể kiểm tra mã giảm giá").show();
                }
            });
        });

        function loadCheckoutSummary() {
            const tbody = $('#checkout-cart-items');
            const totalEl = $('#checkout-total');
            const discountEl = $('#promotion-discount');
            const discountRow = $('.promotion-discount');

            $.ajax({
                url: `${window.location.origin}/User/Cart/GetCartItems`,
                method: 'GET',
                dataType: 'json',
                success: function (cart) {
                    tbody.empty();

                    if (!cart.cartItems || cart.cartItems.length === 0) {
                        tbody.html('<tr><td colspan="2" class="text-center">Không có sản phẩm trong giỏ hàng.</td></tr>');
                        totalEl.text('0 ₫');
                        discountRow.hide();
                        return;
                    }

                    let html = '';
                    let subtotal = 0;

                    cart.cartItems.forEach(item => {
                        const itemTotal = item.price * item.quantity;
                        subtotal += itemTotal;

                        const priceFormatted = new Intl.NumberFormat('vi-VN', {
                            style: 'currency',
                            currency: 'VND'
                        }).format(itemTotal);

                        html += `
                        <tr>
                            <td class="product-col">
                                <h3 class="product-title">${item.productName}<span class="product-qty" style="font-weight: bold"> x ${item.quantity}</span></h3>
                            </td>
                            <td class="price-col">
                                <span>${priceFormatted}</span>
                            </td>
                        </tr>`;
                    });

                    // Tính giảm giá
                    let discountAmount = 0;
                    if (promotionValue > 0) {
                        discountAmount = Math.round(subtotal * promotionValue / 100);
                        discountEl.text('-' + discountAmount.toLocaleString('vi-VN') + ' ₫');
                        discountRow.show();
                    } else {
                        discountRow.hide();
                    }

                    const finalTotal = subtotal - discountAmount;

                    const totalFormatted = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(finalTotal);

                    const subtotalFormatted = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(subtotal);

                    $('#checkout-subtotal').text(subtotalFormatted);
                    tbody.html(html);
                    totalEl.text(totalFormatted);
                },
                error: function () {
                    tbody.html('<tr><td colspan="2" class="text-center text-danger">Lỗi tải giỏ hàng.</td></tr>');
                    totalEl.text('0 ₫');
                    discountRow.hide();
                }
            });
        }
    </script>
</body>

</html>